* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.largura-limite {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.topo img {
    width: 150px;
}

.topo a {
    margin: 0 10px;
    text-decoration: none;
}

.secao-capa {
    background-image: url("../img/bg-estacao.jpg");
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.secao-capa::before {
    width: 100%;
    height: 450px;;
    content: "";
    background-color: black;
    opacity: 0.5;
    bottom: 0;
}

.conteudo-secao-capa {
    position: absolute;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 5px black;
}

.conteudo-secao-capa h1 {
    font-size: 80px;
}

.conteudo-secao-capa h2 {
    font-size: 35px;
}

h3 {
    padding: 50px 0 30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

p {
    line-height: 35px;
    margin: 20px 0;
}

.sobre img, .pontos img {
    width: 100%;
}

.sobre p::first-letter, .pontos p::first-letter {
    font-size: 30px;
    font-weight: bold;
}

.pontos {
    background-color: rgb(240, 223, 202);
    padding-bottom: 60px;
}

.pontos li {
    display: flex;
    padding: 5px 0;
    list-style: none;
}

.pontos li::before {
    content: "";
    background-image: url("../img/seta.png");
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.fotos img{
    width: calc(100% / 3 - 3px);
    opacity: 0.6;
}

.fotos img:hover {
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 213, 126);
    margin-top: 70px;
}