* {
    margin: 0;
    padding: 0;
}

.titulo {
    margin: 20px 0 80px;
    text-align:center;
}

.conteudo-dispositivo {
    display:none;
    text-align: center;
}
/*Primeira versão: Dispositicos pequenos */
@media only screen and (max-width: 480px) {
    body {
        color: aqua;
    }

    .conteudo-dispositivo.pequeno {
        display: block;
    }
}

/* SegundaVersão: Dispositivos médios */
@media only screen and (min-width: 481px) and (max-width: 1024px){
    body{
        color:blanchedalmond;
    }
    .conteudo-dispositivo.medio {
        display: block;
    }

}

/* Terceira Versão: Dispositivos Grandes */
@media only screen and (min-width: 1025px) {
    body {
        color: blueviolet;
    }

    .conteudo-dispositivo.grande {
        display: block;
    }

}

/* Quarta Versão: Dispositivos de impressao */
@media print {

    .titulo {
        margin: 0 0 50px;
        text-align: left;
    }
  
    .conteudo-dispositivo {
        text-align: left;
    }
  
    body {
        background-color: #FFF;
        color: red;
    }
  
    .conteudo-dispositivo.print {
        display: block;
    }
}