@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container-nav {
    display: flex;
    background: rgb(82, 214, 214);
}

.menu-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 3;
}

.container {
    width: 1024px;
    margin: 0 auto;
}


.menu-nav a {
    color: beige;
    text-decoration: none;
    font-weight: bolder
}

.menu-nav a:hover {
    color: darkblue;
}

.container-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titulo-img {
    background-image: url("../assets/recepcao.png");
    background-size: cover;
    height: 400px;
}

.titulo {
    color: beige;
    text-transform: uppercase;
    width: 300px;
}